html body header .container{
    background: #009999;
    height: 173px;
    color: white;
    text-align: center;
}
 html body header .image2{
margin-top: 20px;
}
html body header .name {
    height: 90px;
    margin: 10px;
    border-top: 1px solid #fff;
    padding-right: 200px;
    text-align: right;
    line-height: 26px
}
html body header .name1{
font-family:Century;
    font-size: 21px;
    font-weight: bold
}
html body header .logo {
position: relative;
float: left;
    width: 254px;
    height: 63px;
    top: 30px;
    left: 5px;
}
html body header .dvorec{
    position: relative;
    right: 10px;
    float: right;
    top: 13px;
}

html body header .phone {
    font-size: 19px;
    font-family: Century;
}

html body header .email {
    font-size: 20px;
    font-family: Century;
}

html body header .line {
border-top: 1px solid white;
    border-bottom: 1px solid white;
font-style: oblique;
 margin-top: 35px;
 margin-left: 10px;
 margin-right: 10px;
}
html body section .grid_3 .left_panel{
    background: #009999;
    border-radius: 20px;
    color: #ffffff;
height: 300px;
  margin-top: 10px;
  width: 290px;
}

html body section .grid_3 .left_panel .acordeon .head{
line-height: 80px;
margin-left: 45px;
font-weight: bold;
  font-size: 23px;
 text-transform: uppercase;
font-style: italic;
}
html body section .grid_3 .left_panel .acordeon  a:hover{
text-decoration:underline
}
html body section .grid_3 .left_panel .acordeon a{
text-decoration:none}


