header .container{
    background: teal;
    height: 200px;
    color: white;
    text-align: center;
}
header .image2{
margin-top: 20px;
}



header .name {
    font-weight: bold;
    font-size: 25px;
    margin-top: 40px;

}

header .Phone {
    font-size: 16pt;
    padding-left: 270px;
    line-height: 0pt;
    margin-top: 10px;
}

header .email {
    font-size: 20px;
    padding-left: 270px;
    margin-top: 10px;


}

header .line {
border: 1px solid white;
font-style: oblique;
 margin-top: 40px;
}
section .blok1{
background: teal;
width: auto;
height: 250px;
margin-top: 10px;
border-radius: 20px;
color:red;
 text-align: center;
font-weight: bold;
line-height:40px;
font-variant:small-caps;
font-style: oblique;


}
section .blok2
{
background: teal;
    width: auto;
    height: auto;
    border-radius: 20px;
text-align: center;
    color: white;
 font-style: oblique;
 font-weight: bold;

}
.partnership{
padding-top: 10px;
}
.sample{
padding-top: 30px;
}
.weather{
padding-top: 100px;
}
.currency{
padding-top: 10px;
}
section .blok3{
    background: teal;
    width: auto;
    height: 250px;
    border-radius: 20px;
    color: white;
    margin-top: 10px;


}
.news{
padding-top: 10px;
   font-size: 15px;
   font-weight: bold;
    text-align: center;
}
.data1{
font-size: 12px;
  padding-left: 10px;
    padding-top: 5px;
}
.text1{
font-size: 12px;
padding-right: 10px;
padding-left: 10px;
padding-top: 5px;
}
.data2{
    font-size: 12px;
    padding-left: 10px;
    padding-top: 30px;
}
.text2{
    font-size: 12px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
}
.image1{
margin-top: 60px;

}


