html {
    body {
        header {
            .container {
                background: #009999;
                height: 160px;
                color: white;
                text-align: center;

            }
            .image2 {
                margin-top: 20px;
            }
            .name {
                height: 80px;
                margin: 20px;
                border-top: 1px solid #fff;
                padding-right: 200px;
                text-align: right;
                line-height: 26px
            }
            .name1 {
                font-family: Century;
                font-size: 21px;
                font-weight: bold
            }
            .logo {
                position: relative;
                float: left;
                width: 254px;
                height: 63px;
                top: 30px;
                left: 5px;
            }
            .dvorec {
                position: relative;
                right: 10px;
                float: right;
                top: 24px;

            }
            .phone {
                font-size: 19px;
                font-family: Century;
            }
            .work {
                font-size: 19px;
                font-family: Century;
          }


          .email {
                font-size: 20px;
                font-family: Century;
            }
            .line {
                border-top: 1px solid white;
                border-bottom: 1px solid white;
              font-family: Century;
              font-size: 21px;
              font-weight: bold;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
        section {
            .grid_3 {
                .left_panel {
                    ul {
                        margin: 0;
                        padding: 0;
                        li.accordion {
                            list-style: none;
                            width: 100%;
                            a.head {
                                text-decoration: none;
                                display: block;
                              font-family: Calibri;
                              font-size: 19px;
                              font-weight: bolder;
                                text-transform: uppercase;
                              margin: 5px 0;
                              padding: 12px;


                                background: #009999;
                                border-radius: 20px;
                                color: #ffffff;
                                margin-top: 10px;
                                padding: 15px;


                            }

                            ul {
                                text-align: left;
                                font-size: 18px;
                                padding: 0 0 0 20px;
                                margin-top: 10px;
                                font-size: 16px;


                                li {
                                    paddingleft: 20px;
                                    list-style-type: square;
                                    list-style-position: inside;
                                    padding: 0;
                                    a {
                                        padding: 1px;
                                        color: #009999;
                                        text-decoration: none;
                                        &:hover{
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        }
                    }

                }
              .bloсk_info{
                background:#009999;
                margin-top: 20px;
                color: #ffffff;
               padding:20px ;
                border-radius: 20px;



              .sample{
                font-family: Calibri;
                font-size: 19px;
                font-weight: bolder;
                text-align: center;

              }
              .certificate{
                text-align: center;
                padding: 20px;

              }
              .weather{
                text-align: center;
              }
                .currency{
                  text-align: center;
                }

            }
            }
          .right_panel{
           .title{
             background: #009999;
             border-radius: 20px;
             color: #ffffff;
             margin-top: 10px;
             padding: 15px;


             font-family: Calibri;
             font-size: 18px;
             font-weight: bolder;
             text-transform: uppercase;
             text-align: center;
             a{
              text-decoration: none;
             }
             a:hover{
               text-decoration: underline;
             }

           }
            .news{
              border: 4px double #009999;
              padding: 20px;
              margin-top: 10px;
              border-radius: 10px;
            .new_info{
              .date{
                display: block;
              }
            }
            a{
             color: #000000;
              text-decoration: none;
              line-height: 25px;
            }
            a:hover{
              text-decoration: underline;
            }

            }
            .images{
             margin-top: 20px;
              line-height: 30px;

            }
            .new_form{
              border: 4px double #009999;
              padding: 20px;
              margin-top: 10px;
              border-radius: 10px;
              .application{
                text-align: center;
                font-size: 23px;
                font-weight: bolder;
              }
              a{
               color:#009999;
                text-decoration: none
              }

              a:hover{text-decoration: underline}

            }




          }


        }
      footer {
        background: #009999;
        color: #fff;
        height: 40px;
        .copy {
          text-align: right;
          line-height: 40px;
          padding: 0 10px;
        }
        margin-top: 5px;
      }
    }
}