html {
    body {
        header {
            .container {
                background: #009999;
                height: 173px;
                color: white;
                text-align: center;
            }
        }
    }
}